# Default ignored files
/.idea/workspace.xml
/MWR_lwp_punta.png
/test.png
/HATPRO-Punta_Arenas/
/data/
/plots/
/.idea/
Thumbs.db
/eurec4a_scripts/
/larda-connectordump/
/log/
/__pycache__/
/.ipynb_checkpoints/
/quality_control/
